		<style>
			.width-5{
				width:5%;
				background-color#181818;
				}
			.float-left{
				float:left;
			   }
			.width-18{
				width:19%;
				background-color:#202020;
				float:left;
			   }
			.width-75{
				width:75%;
				background-color:#202020;
				float:left;
			   }
			.display-block{
			  	display:block;
			   }
			.bg-darkblack{
				background-color:#151515;
			   }
			.border-bottom-small-icon{
			      border-bottom:1px solid grey;
		  		 padding-top:5px;
		 		 padding-bottom:5px;
		 	   }
			.padding-3px{
				 padding-top:3px;
				 padding-bottom:3px;
			  }
			.border-left-g-image-icon {
		  		 border-left:3px solid white;
		  		 padding-left:3px;
		 	  }
			.padding-left{
			  	padding-left:10px;
			  }
			.text-white{
			  	color:white;
			  }
			.text-grey{
				color:grey;
			  }
			.link-decoration{
			      text-decoration:none;  	
			  }
			.padding-8px{
		 		padding-top:6px;
		 		padding-bottom:6px;
			  }
			
			.padding-left-icon{
			  	padding-left:5px;
			  }
			.font-size{
				font-size:18px;
			  }
			
			.padding-right-sound-icon{
				padding-right:10px;
			
			  }
			.padding-30px{
		 		padding-left:30px;
			  }
			.width-78{
			     width:78%;
				background-color:#303030;
				float:left;
			  }
			
			.width-19{
				width:19%;
				background-color:#202020;
				float:left;
			  }
			.margin-0px{
			  	margin:0px;
			  }
			.padding-0px{
			  	padding:0px;
			  }
			
			.inline-block{
	  			display:inline-block;
				margin-bottom:13px;
   	  		  }
			.float-right{
				float:right;
				padding-top:25px;
				padding-bottom:20px;
			  }
			.padding-right-icon{
				padding-right:14px;	
			  }
			.padding-bottom-name{
			  	padding-bottom:8px;
			  }
			.margin-top{
			  	margin-top:0px;
			  }
			.border-full{
				border:1px solid grey;
				padding:1px;
			  }
			.padding-10px{
			  	padding-top:10px;
				padding-bottom:10px;
			  }
			.padding-top-add-logo{
				padding:3px;
				padding-top:10px;
		       }
			
			.margin-online-image{
			  	margin-top:5px;
				margin-bottom:5px;
			  }
			.both-div{
			  	clear:both;
      		  }
			.left-div{
			  	clear:left;
			  }

			  
			.section-border-left{
			  	border-left:1px solid grey;
			  }
			.right-side-border{
			  	border-right:1px solid grey;
				padding-left:5px;
				padding-right:5px;
			  }
			.border-bottom{
				border-bottom:1px solid grey;
				padding-bottom:4px;
			  }
			.margin-bottom{
			  	margin-bottom:8px;
		 	  }
			.background-grey{
			     background-color:#303030;
			  }
			.padding-man-image{
			  	padding-right:8px;
			  }
			.left-side-small-section-padding{
				padding-left:8px;
			  }
			.padding-bottom-top-8px{
			  	padding-bottom:8px;
				padding-top:8px;
			  }
			.padding-bottom-8px{
			  	padding-bottom:8px;
			  }
			.border-user-name{
			  	border:1px solid grey;
			  }
			.user-name-image-padding{
			  	padding-top:13px;
				padding-bottom:13px;
				padding-right:8px;
				padding-left:8px;
    			  }
			.username-right-side-icon{
			  	padding-top:22px;
				padding-bottom:15px;
				padding-left:5px;
				padding-right:5px;
			  }
			.add-icon-padding-5px{
			  	padding-top:5px;
				padding-bottom:5px;
				padding-left:8px;
			  }
			.padding-top-add-Message{
			  	padding-top:10px;
			  }
			.padding-top-h1{
			  	padding-top:5px;
				padding-bottom:4px;
			  }
			.padding-top{
			  	padding-top:15px;
		        }
			.padding-sound-icon{
			   	padding-top:13px;
				padding-bottom:13px;
			   }
			.padding-online-icon{
			   	padding-right:8px;
			   }
			.online-name-padding{
				padding-top:8px;
				padding-bottom:8px; 
			   }
			
			iframe{
			   	padding-left:20px;
			   }
			.span-padding{
				padding-top:10px;
			   }
			.search{
			  	padding-top:16px;
				padding-bottom:15px; 
				display:inline-block;
			  }
			.search-menu-images{
				padding-top:15px;
				padding-bottom:15px;	
			  }
			.search-images-float-right{
			  	float:right;
				padding-top:15px;
				padding-bottom:15px;
			  }
			.search-icon-padding{
			  	padding-left:25px;
			  }
			
		</style>